@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Nanum+Gothic&family=Open+Sans:wght@300&family=Rubik+Moonrocks&display=swap');

* {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-red: #FF4949;
    --color-purple: #541690;
    --color-orange: #FF8D29;
    --color-yellow: #FFCD38;

    --font-lg: 38px;
    --font-md: 24px;
    --font-sm: 15px;
    --font-xs: 9px;

    --size-lg: 1280px;
    --size-md: 976px;
    --size-sm: 768px;
    --size-xs: 500px;
}

html,
body {
    height: 100%;
    background: rgb(2, 0, 29);
    background: linear-gradient(135deg, #1f1681 30%, #1b1464 52%, rgb(5, 24, 31) 81%);
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    width: 90%;
    height: 80%;
    border-radius: 0 0 5% 5%;
    overflow: auto;
}

.container-table {
    width: 100%;
    padding: 20px;
    border-radius: 0 0 5% 5%;
    color: var(--color-yellow);
}

.containerTable-lblTitle {
    width: 30%;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: var(--color-red);
}


.container-table th:first-child {
    width: 10%;
}

.containerTable-lblValue {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.11);
    color: var(--color-orange);
    transition: box-shadow .5s, transform .5s, color .5s;
}

.containerTable-lblValue:hover {
    box-shadow: 0 10px 10px var(--color-red);
    transform: translateY(-10px);
    background-color: var(--color-purple);
    color: var(--color-yellow);
    font-weight: bolder;
}

.containerTable-lblValue:last-child:hover {
    box-shadow: none;
    transform: none;
    font-weight: none;
    background-color: rgba(255, 255, 255, 0.11);
}

.container-table>tbody>tr:hover {
    background-color: rgba(255, 255, 255, 0.09);
}

.tableValue-btnOption {
    width: 30%;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;
    color: var(--color-orange);
    box-shadow: 0 0 10px var(--color-orange) inset;
}

.tableValue-btnOption:hover {
    box-shadow: 0 0 5px var(--color-orange);
    background-color: rgba(255, 255, 255, 0.127);
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .containerTable-lblTitle:last-child {
        display: none;
    }

    .containerTable-lblValue:last-child {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    *[class *="lbl"] {
        font-size: var(--font-xs);
    }
}


form {
    margin-left: auto;
    margin-right: auto;
    width: 965px;
    height: 450px;
    padding: 30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;
}

textarea {
    background: rgba(0, 0, 0, 0.4);
    width: 894px;
    height: 110px;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 12px;
    margin-bottom: 20px;
    overflow: hidden;
}

select {
    width: 894px;
    height: 48px;
    line-height: 1.5;
    font-size: 1.4em;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -mox-border-radius: 10px;
    color: #fff;
    display: block;
    background: transparent;
    background-color: rgba(0, 0, 0, .4);
    margin-bottom: 20px;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.nameinput,
.emailinput {
    width: 894px;
    height: 48px;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    cursor: pointer;
}

input.nameinput {
    background: rgba(0, 0, 0, 0.4);
    padding-left: 45px;
}

input.emailinput {
    background: rgba(0, 0, 0, 0.4);
    padding-left: 45px;
}

input.message {
    background: rgba(0, 0, 0, 0.4);
    padding-left: 45px;
}

select.indent {
    padding-left: 45px;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

input:focus,
textarea:focus {
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
    overflow: hidden;
}

.btn {
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    width: 200px;
    height: 48px;
    color: #000;
    background: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    outline: none;
    box-shadow: 0 6px #cecece;
    border-radius: 5px;
    float: right;
    margin-right: 6px;
}

.btn:hover {
    background: #fff;
    outline: none;
    box-shadow: 0 4px #cecece;
    top: 2px;
}

.btn:active {
    background: #fff;
    outline: none;
    box-shadow: 0 0 #cecece;
    top: 6px;
}

.flat {
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.flat:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}


.flat {
    width: 960px !important;
    height: 48px;
    overflow: hidden;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1035px) {
    h1 {
        font-size: 80px;
    }

    form {
        width: 736px !important;
    }

    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Subject.flat>select,
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Subject.flat {
        width: 731px !important;
    }

    .nameinput,
    .emailinput,
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Message>textarea {
        width: 666px !important;
    }
}

@media only screen and (max-width: 804px) {
    h1 {
        font-size: 50px;
    }

    form {
        width: 450px !important;
    }

    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Subject.flat>select,
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Subject.flat {
        width: 445px !important;
    }

    .nameinput,
    .emailinput,
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Message>textarea {
        width: 380px !important;
    }
}

@media only screen and (max-width: 517px) {
    h1 {
        font-size: 30px;
    }

    form {
        width: 295px !important;
    }

    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Subject.flat>select,
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Subject.flat {
        width: 290px !important;
    }

    .nameinput,
    .emailinput,
    #wpcf7-f156-p143-o1\20 formwrap>form>p>span.wpcf7-form-control-wrap.Message>textarea,
    select {
        width: 225px !important;
    }

    .btn {
        width: 110px;
    }
}

.paid {
    background-color: green !important;
}

.paid td {
    color: #ffffff !important;
}